*.log
*.index
*.db
*.jpg
*.png
*.html
*.json
*.lock
Asteroids2D/.classpath
Asteroids2D/.project
*.tga
*.jar
Dejavu_2019/lib/JLayer1.0.1.39.zip
*.mp3
*.ini
FCClient/.classpath
FCClient/.project
FCClient/lib/JLayer1.0.1.zip
*.dat
*.cfg
FCServer/FCServer/.classpath
FCServer/FCServer/.project
*.class
*.dll
*.wav
MyLife/lib/JLayer1.0.1.zip
TimeEater/.classpath
TimeEater/.project
Message/.classpath
Message/.project
*.docx
Foxtris v2.8/lib/src/javazoom.zip
GeekBrainsReflection/.classpath
GeekBrainsReflection/.project
TimeEater/lib/JLayer1.0.1.39.zip
